@import "../../theme/fonts.scss";
@import "../../theme/variables.scss";

.login-container {
  display: flex;
  justify-content: center;
  position: relative;
  // align-items: center;

  .login-content {
    position: absolute;
    top: 110px;
    width: 327px;
    height: 368px;
    // text-align: center;
    .content-title {
      font-size: 42px;
      font-weight: 500;
      font-family: "Poppins";
      color: $primary-color;
    }
    .login-text {
      font-weight: 400;
      font-size: 14px;
      font-family: "Poppins";
      color: $secondary-color;
    }
    // border: 1px solid black;
  }

  .login-input-container {
    width: 100%;
    margin: 15px 0;
    text-align: start;
    .login-input-label {
      margin-bottom: 10px;
      margin-top: 15px;
      font-size: 14px;
      font-weight: 600;
      font-family: "Poppins";
      color: $primary-color;
    }
  }

  .login-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .login-checkbox-label {
    font-family: "Poppins";
    font-size: 14px;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 2px;
    color: $primary-color;
  }
  .login-forgot-text {
    font-family: "Poppins";
    font-size: 14px;
    text-decoration: underline;
    line-height: 16.34px;
    cursor: pointer;
    font-weight: 700;
    // margin-left: 15px;
    color: $primary-color;
  }
  .login-copy-right {
    font-size: 14px;
    font-family: "Poppins";
    color: $secondary-color;
    text-align: center;
    margin-top: 75px;
  }
  .login-privacy {
    color: #636e72;
    font-size: 14px;
    margin-top: 10px;
  }
}
