@import "../../theme/variables.scss";
@import "../../theme/fonts.scss";

.side-bar-container {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  // box-shadow: -31px -24px 33px 12px rgb(107, 107, 107);
  left: 0;
  background-color: $white;
  transition: 0.5s;
}
.side-bar-header {
  height: 85px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  .side-bar-logo {
    width: 145px;
    height: 43px;
    position: absolute;
    top: 24px;
    left: 32px;
  }
}

.sidebar-image-container {
  border-bottom: 2px solid $border;
  height: 62px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar-icon {
  width: 18px;
  height: 18px;
}
.active-label {
  letter-spacing: 0.02em;
  color: $login-blue !important;
  transition: display 0.01s;
  margin-left: 12px;
  font-size: 12px;
  font-weight: 500;
}

.in-active-label {
  // transition: display 0.01s;
  // letter-spacing: 0.02em;
  color: #8a92a6;
  margin-left: 12px;
  font-weight: 500;
  font-size: 12px;
}

.active-div {
  padding: 8px 0;
  // margin-left: 15px;
  // margin-right: 15px;
}

.in-active-div {
  padding: 8px 0;
}

.active-icon {
  width: 18px;
  height: 18px;
}
.active-label {
  color: $login-blue;
}

.side-bar-list {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.item-side-bar {
  margin-top: 20px;
  height: 70%;
}
.side-bar-logo {
  width: 62.67px;
  height: 45.33px;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  // align-items: center;
  // justify-content: flex-end;
}
.side-bar-image {
  width: 48px;
  height: 48px;
}
.sidebar-username {
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
  color: $primary-color;
  margin-right: 20px;
}
.sidebar-view-profile {
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins";
  color: $login-grey;
}
.sidebar-chat-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.sidebar-settings-icon {
  width: 20px;
  height: 20px;
}
.bottom-line-container {
  display: flex;
  justify-content: center;
  .bottom-line {
    width: 85%;
    display: flex;
    justify-content: center;
    color: $login-grey;
  }
}

.chat-container {
  width: 571px;
  height: 596px;
}

.chat-top {
  position: relative;
  width: 571px;
  height: 155px;
  border-radius: 24px 24px 0px 0px;
  background-color: $login-blue;
}

.chat-circle-icon {
  width: 48px;
  height: 48px;
  margin: 15px;
  margin-left: 25px;
}

.chat-pf-icon {
  position: absolute;
  width: 19px;
  height: 31px;
  top: 25px;
  left: 42px;
}

.chat-top-content {
  height: 28px;
  padding-top: 25px;
  padding-left: 5px;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $background-white;
}

.chat-close-icon {
  width: 30px;
  height: 30px;
  margin-top: 27px;
  margin-left: 250px;
  cursor: pointer;

}

.class-middle-content {

  height: 22px;
  padding-top: 5px;
  padding-left: 28px;

  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: $background-white;
}

.class-footer-content {
  width: 511px;
  height: 19px;
  padding-top: 15px;
  padding-left: 29px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: $background-white;
}

.chat-bottom {
  width: 571px;
  height: 441px;
  background-color: $background-white;  
}

.chat-choose {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  padding-top: 30px;
  padding-left: 40px;
}


.chat-start {

  padding-right: 190px;

  padding-left: 20px;
  border: none;

}

.chat-input {
  border: 1px solid $secondary-color;
 
  margin-top: 100px;
  border-radius: 24px, 24px, 0px, 0px;
  height: 80px;
  display: flex;
  gap: 140px;

}

.chat-arrow-icon {
  width: 20px;
  height: 20px;
  margin-top: 25px;

}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .side-bar-container {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    // box-shadow: -31px -24px 33px 12px rgb(107, 107, 107);
    left: 0;
    background-color: $white;
    transition: 0.5s;
  }
  .side-bar-header {
    height: 85px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    .side-bar-logo {
      width: 110px;
      height: 43px;
      position: absolute;
      top: 24px;
      left: 20px;
    }
  }
  .sidebar-username {
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins";
    color: $primary-color;
    // margin-right: 20px;
  }
  .sidebar-chat-icon {
    width: 18px;
    height: 18px;
    // margin-right: 10px;
  }
  .sidebar-settings-icon {
    width: 16px;
    height: 16px;
  }
  .side-bar-image {
    width: 48px;
    height: 48px;
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .side-bar-container {
    display: none;
  }
}

